<!-- Don't forget to include a header and footer file here -->

<%- include("partials/header.ejs") %>

<form action="/submit" method="POST">
    <label for = "Title">Title:</label> <br>
    <input type="text" id="Title" name="Title"><br>
    <label for = "Content">Content:</label> <br>
    <input type="text" id="Content" name="Content"><br><br>
    <input type="submit" value="Submit">
</form>

<% if (locals.posts) { %>
  <% posts.forEach(post => { %>
    <h1><%= post.title %></h1>
    <p><%= post.content %></p>
    <p><%= post.createdAt.toLocaleString() %></p>
  <% }) %>
<% } %>

<%- include("partials/footer.ejs") %>